* {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-image: linear-gradient( #211522, #613659);
    font-family: "Dongle", arial, sans-serif;
    font-size: 2em;
}
.menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    color: #f5f5f5;
}
