* {
    box-sizing: border-box;
    margin: 0;
}
body {
    min-height: 100vh;
    background-color: #dcf0f5;
    /* background-image: linear-gradient( #f6f6f6, #613659); */
    font-family: "Nunito", arial, sans-serif;

    background-image: url("../img/beach-waves.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.menu {
    padding: .5em;
    display: flex;
    list-style-type: none;
    justify-content: space-around;

    background-color: rgba(187, 231, 254, .8);
    position: fixed;
    min-width: 100vw;
    
}
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.profile {
    min-height: 100vh;
    margin: auto;
}
main {
    min-height:100vh;
    display: grid;
    place-content: center;
    margin: auto;
}

.bio {
    background-color: rgba(212, 236, 248, 0.8);
    padding: 1em;
    max-width: 60%;
    margin: auto;
    border-radius: 25px;

    font-size: 1.3em;
}

h2 {
    font-size: 2em;
    font-weight: 800;
    background-image: linear-gradient(90deg, #05ADFE, #06b993);
    background-clip: text;
    color: transparent;

    display: inline-flex;
  }


.portfolio {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

    background-color: #BBE7FE;

}
section {
    background-color: #BBE7FE;
    padding: 20px 0;
    min-width: 100vw;
    text-align: center;
    min-height: 50vh;
    
}
article {
    background-color: #BBE7FE;
    min-width: 333px;
    max-width: 333px;
    min-height: 333px;
    padding: .5em;
    border-radius: 25px;
    box-shadow: inset -30px -30px 50px rgba(255, 255, 255, 0.2), inset -1px -5px 5px rgba(13, 39, 80, .2);

    text-align: center;
}


footer {
    width: 100vw;
    padding: .10em;


    background-color: #2D3F75;
    align-self: flex-end;
}